resource_group_name            = "rg-ai-ml-production-labs-dev"
location                       = "eastus"
function_app_name              = "func-text-classifier-dev"
storage_account_name           = "staimlprodlabsdev"
app_insights_connection_string = ""
