resource_group_name = "rg-ai-ml-production-labs-dev"
location            = "eastus"
container_app_name  = "ca-fastapi-azure-ml-service-dev"
container_image     = "ghcr.io/<github-username>/fastapi-azure-ml-service:latest"
environment_name    = "cae-ai-ml-production-labs-dev"
ghcr_username       = "<github-username>"
ghcr_pat            = "<github-pat-with-read-packages>"
