resource_group_name  = "rg-ai-ml-production-labs-dev"
location             = "eastus"
container_app_name   = "ca-ollama-local-llm-api-dev"
container_image      = "ghcr.io/<github-username>/ollama-local-llm-api:latest"
environment_name     = "cae-ai-ml-production-labs-dev"
ghcr_username        = "<github-username>"
ghcr_pat             = "<github-pat-with-read-packages>"
ollama_base_url      = "<url-of-running-ollama-instance>"
ollama_default_model = "phi3.5"
